<div id="cards">
  <div class="container main-body">
    <div class = "row height100">
      <div class="col-sm-4 height100">
        <div class="row score-row">
          <div class = "col-sm-10 col-sm-offset-2 height100">
            <div class="box text-center" >
              <div class="pos-top10 score-card" id="score-card"><%=score%> - <%=wickets%></div>
            </div>
          </div>
        </div>
        <div class="row overs-row">
          <div class = "col-sm-5 col-sm-offset-2 overs-column">
            <div class="box text-center">
              <div class="row title pos-top10">Overs</div>
              <div class="row number pos-top10" id="overs"><%=overs%></div>
            </div>
          </div>
          <div class = "col-sm-5 recquired-column">
            <div class="box text-center">
              <div class="row title pos-top10">Recquired</div>
              <% if(parseInt(recquiredRuns) > 0){%>
                  <div class="row number pos-top10" id="req-runs"><%=recquiredRuns%></div>
                <%}else{%>
                  <div class="row number pos-top10" id="req-runs">-</div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 height100">
        <div class="box scoreTable">
          <ul id= "navBar"class="nav nav-tabs">
            <li role="presentation" class="active"><a id ="scoreTable">Scores</a></li>
            <li role="presentation"><a id= "players">Players</a></li>
          </ul>
          <div class="row stats-row">
            <div id="stats" class="col-sm-12 stats-col">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
